.education{
    display: block;
    margin: 4rem auto 0;
    max-width: 1440px;
}
.education > h1{
    padding: 1rem 0 4rem 2rem;
    font-size: 2.4rem;
}
.education__content{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}
.education__content > img{
    width: 550px;
    height: 629px;
    object-fit: cover;
}
.education__content__left__part > h3{
    font-size: 1.7rem;
    padding: 0  0 1rem;
}
.education__content__left__part{
    list-style: none;
    padding-bottom: 1.5rem;
}
.education__content__left{
    margin-right: 2.5rem;
}
.education__content__left__part  li{
    font-weight: 700;
}
.education__content__left__part  li::before{
    content: "\2022";
    padding-left: 1.7rem;
}
.education__content__left__part  li > span{
    color: #00D1FF;
}
.education__content__left__part > h5{
    padding-left: 1.7rem;
}
@media (max-width: 786px){
    .education__content{
        flex-direction: column;
        padding: 0;
    }
    .education__content__left{
        order: 2;
    }
    .education__content > img{
        width: 90%;
        object-fit: cover;
        height: auto;
        order: 1;
        padding: 2rem 0;
    }
    .education > h1{
        padding: 0 0 0 1rem;
        font-size: 1.6rem;
    }
    .education__content__left__part > h3{
        font-size: 1.3rem;
        padding: 0  0 1rem;
        font-weight: 800;
    }
    .education__content__left__part  li{
        font-weight: 700;
        font-size: 0.9rem;
    }
}